/*Sidebar css reference from*/
/*https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/css/simple-sidebar.css
*/

body {
 padding-top: 70px;
}

.iconMarg{
    margin-right: 15px;
}
.sideDistance{
    position: absolute;
    left: 40px;
}

.sidebar-nav {
    box-shadow: 2px 4px 6px 1px rgba(50, 50, 50, 0.14);
    /*Prevents scrolling over*/
    z-index: 1000;
    position: fixed;
    top: 50px;
    width: 180px;
    height: 100%;
    color: black;
    margin: 0;
    padding-top: 20px;
    list-style: none;
    background-color: white;
}

.container{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 30px;
}
#page-content-wrapper {
    margin: auto;
    width: 100%;
    position: absolute;
    padding: 15px;
    left: 180px;
}

.sidebar-nav a {
    position: relative;
    bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    height: 40px;
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav a:hover {
    height: 40px;
    text-decoration: none;
    color: #666666;
    background: rgba(24,245,255,0.2);
    padding-bottom: 5px;
}

.custom{
    position: fixed;
    padding: 0px 5px 0px;
    bottom: 0px;
    left: 180px;
    height: 20px;
    width: 100%;
    background-color: black;
}

.greet{
    text-align: center;
    width: auto;

}
.legalTextRight{
    float: right;
    color: white;
}
.legalTextLeft{
    font-size: 13px;
    padding-left: 4px;
    color: white;
    float: left;
}

.centerText{
    text-align: center;
}
.image{
    border: 1px solid #ccc;
    margin: 5px;
    width: 275px;
    height: 200px;
    border-radius: 1px;
}

.image:hover{
    border: 1px solid #777;
}

.itemList{
    float: left;
    overflow:hidden;
    padding: 10px;
    margin: 5px;
    width: 500px;
    height: 400px;
}