.commentList {
     padding:0;
     list-style:none;
     max-height:200px;
     overflow:auto;
 }
 .commentList li {
     margin:0;
     margin-top:10px;
 }
 .commentList li > div {
     display:table-cell;
 }
 .commenterName {
     width:120px;
     margin-right:5px;
     height:100%;
 }
 
 .commenterName img {
     width:100%;
     border-radius: 2px;
 }
 
 .sub-text {
     color:#aaa;
     font-family:verdana;
     font-size:11px;
 } 
 
 #mention_list {
      position: relative;
      max-height: 150px;
      min-width: 250px;
      overflow-y: auto;
      overflow-x: hidden;
      margin-left:15px;
      margin-top:-15px;
 }
 
 #mention_list img{
      width: 30px;
      margin: 5px;
      margin-left: -10px;
}

#mention_list a:hover {
     cursor:pointer;
}

.aliceblue {
  background-color: aliceblue;  
}